<!DOCTYPE html>
<html>
<head>
    <title>QR Code</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .center-image {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; 
        }
        .qr-code-image {
            max-width: 80%;
            border: 2px solid #007BFF; /* Add a border */
            border-radius: 10px; /* Add border radius for rounded corners */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a box shadow */
            padding: 10px; /* Add some padding */
        }
    </style>
</head>
<body>
    <div class="container center-image">
        <img class="qr-code-image" src="<%= qrCodeBuffer%>" alt="QR Code">
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
