<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie List and QR Code</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <h1>Movie List</h1>
    <div class="container">
        <div class="row">
            <% movies.forEach(movie => { %>
                <div class="col-md-4">
                    <div class="card mb-3">
                        <img src="<%=movie.Images[0]%>" alt="<%= movie.Title %> Image" class="card-img-top">
                        <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BN2EyYzgyOWEtNTY2NS00NjRjLWJiNDYtMWViMjg5MWZjYjgzXkEyXkFqcGdeQXVyNjUwNzk3NDc@._V1_.jpg" alt="This is my own " srcset="">
                        <div class="card-body">
                            <h5 class="card-title"><%= movie.Title %></h5>
                            <h5 class="card-title"><%= movie.Type %></h5>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
